h1{
    color: blue;
}

.sisas{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}

#nosqui{
    color:darkgreen;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 28px;
}

#erImg{
 
 margin-left: 1200px;  
}

#thImg{
    margin-left: 600px;
}